body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000000;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.layout-topbar {
    background-color: #20272a;
    display: block;
    padding: 0;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.layout-topbar .menu-button:hover {
    background-color: #363c3f;
}

.layout-topbar .menu-button i {
    line-height: inherit;
}

.layout-topbar .logo {
    margin-left: 45px;
    margin-top: 12px;
    display: inline-block;
}

.layout-topbar .logo img {
    width: 210px;
}

.layout-topbar .topbar-menu {
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
}

.layout-topbar .topbar-menu > li {
    display: inline-block;
    height: 100%;
}

.layout-topbar .topbar-menu > li > span, .layout-topbar .topbar-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: 70px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.layout-topbar .topbar-menu > li > span:hover, .layout-topbar .topbar-menu > li > a:hover {
    background-color: #4a4f52;
}

.layout-topbar .topbar-menu > li > span:focus, .layout-topbar .topbar-menu > li > a:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 0.2em #ffffff;
}

.layout-topbar .topbar-menu > li > ul {
    display: none;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes {
    position: relative;
    cursor: pointer;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e80056;
    position: absolute;
    right: 20px;
    top: 24px;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul {
    position: absolute;
    top: 65px;
    left: -75px;
    width: 250px;
    max-height: 300px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
    padding: 6px 12px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #20272a);
    background-image: -moz-linear-gradient(top, #000000, #20272a);
    background-image: -ms-linear-gradient(top, #000000, #20272a);
    background-image: -o-linear-gradient(top, #000000, #20272a);
    background-image: linear-gradient(to bottom, #000000, #20272a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', endColorStr='#20272a', gradientType=1);
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul.active-top-menu {
    display: block;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span:hover, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a:hover {
    background-color: #30373a;
    cursor: pointer;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span:focus, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 0.2em #ffffff;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span img, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a img {
    width: 32px;
    vertical-align: middle;
    margin-right: 4px;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span span, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a span {
    margin-left: 8px;
}

.layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > span i, .layout-topbar .topbar-menu > li.topbar-menu-themes > ul li > a i {
    vertical-align: middle;
    font-size: 24px;
    margin-right: 4px;
}

.layout-topbar .topbar-menu .theme-badge {
    padding: 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -1px;
}

.layout-topbar .topbar-menu .theme-badge.material {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #202124, #404147);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #202124, #404147);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.layout-topbar .topbar-menu .theme-badge.bootstrap {
    background: #563D7C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #563D7C, #966BD8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #563D7C, #966BD8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.layout-topbar .topbar-menu .theme-badge.new {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    background-color: #000000;
    width: 300px;
    overflow: auto;
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#layout-sidebar .layout-menu > button {
    width: 100%;
    height: 48px;
    display: block;
    padding: 0px 24px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    text-align: left;
    margin: 0;
    border: none;
    border-top: solid 1px #e3e9ea;
    cursor: pointer;
}

#layout-sidebar .layout-menu > button:hover {
    background-color: #30373a;
}

#layout-sidebar .layout-menu > button:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 0.2em #ffffff;
}

#layout-sidebar .layout-menu > button span {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 8px;
    position: relative;
    top: -2px;
}

#layout-sidebar .layout-menu > button img {
    width: 20px;
    vertical-align: middle;
}

#layout-sidebar .layout-menu > button img.layout-menu-icon-active {
    display: none;
}

#layout-sidebar .layout-menu > button img.layout-menu-icon-inactive {
    display: inline;
}

#layout-sidebar .layout-menu > button.active-menuitem {
    background-color: #20272a;
    color: #ffffff;
}

#layout-sidebar .layout-menu > button.active-menuitem img.layout-menu-icon-active {
    display: inline;
}

#layout-sidebar .layout-menu > button.active-menuitem img.layout-menu-icon-inactive {
    display: none;
}

#layout-sidebar .layout-menu > .layout-submenu {
    width: auto;
    overflow: hidden;
    display: none;
    background-color: #20272a;
}

#layout-sidebar .layout-menu > .layout-submenu > div {
    overflow: hidden;
    padding: 20px 15px;
}

#layout-sidebar .layout-menu > .layout-submenu.layout-submenu-enter {
    max-height: 0;
    display: block;
}

#layout-sidebar .layout-menu > .layout-submenu.layout-submenu-enter-active {
    max-height: 500px;
    transition: max-height cubic-bezier(0.86, 0, 0.07, 1) 0.4s;
}

#layout-sidebar .layout-menu > .layout-submenu.layout-submenu-enter-done {
    display: block;
}

#layout-sidebar .layout-menu > .layout-submenu.layout-submenu-exit {
    max-height: 500px;
    display: block;
}

#layout-sidebar .layout-menu > .layout-submenu.layout-submenu-exit-active {
    max-height: 0;
    display: block;
    transition: max-height cubic-bezier(0.86, 0, 0.07, 1) 0.4s;
}

#layout-sidebar .layout-menu > .layout-submenu a {
    width: 50%;
    float: left;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
}

#layout-sidebar .layout-menu > .layout-submenu a:hover {
    background-color: #30373a;
}

#layout-sidebar .layout-menu > .layout-submenu a:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 0.2em #ffffff;
}

#layout-sidebar .layout-menu > .layout-submenu a .menuitem-badge {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -1px;
}

#layout-sidebar .nano > .nano-content .layout-menu {
    padding-bottom: 120px;
}

#layout-sidebar .nano > .nano-pane {
    background-color: transparent;
}

#layout-sidebar .nano > .nano-pane .nano-slider {
    background-color: #aaaaaa;
}

#layout-content {
    margin-left: 300px;
    padding-top: 70px;
}

#layout-content .content-section {
    display: block;
    padding: 30px;
    background-color: #000000;
}

#layout-content .content-section:first-of-type > div > span {
    line-height: 1.5em;
}

#layout-content .content-section h2 {
    margin-top: 0;
}

#layout-content .content-section.introduction {
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #20272a);
    background-image: -moz-linear-gradient(top, #000000, #20272a);
    background-image: -ms-linear-gradient(top, #000000, #20272a);
    background-image: -o-linear-gradient(top, #000000, #20272a);
    background-image: linear-gradient(to bottom, #000000, #20272a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', endColorStr='#20272a', gradientType=1);
    color: #ffffff;
}

#layout-content .content-section.introduction .feature-intro h1 {
    font-size: 28px;
    margin: 0 0 20px 0;
    display: block;
    text-align: left;
    color: #ffffff;
    font-weight: normal;
}

#layout-content .content-section.introduction .feature-intro p {
    margin: 0;
    line-height: 2em;
    font-size: 16px;
}

#layout-content .content-section.introduction .feature-intro a {
    border-radius: 3px;
    background-color: #b2ddea;
    color: #00475d;
    padding: 2px 4px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#layout-content .content-section.introduction .feature-intro a:hover {
    background-color: #d8eef4;
}

#layout-content .content-section.implementation {
    background-color: #000000;
}

#layout-content .content-section.implementation > h3 {
    font-weight: 400;
    margin-top: 30px;
    font-size: 18px;
}

#layout-content .content-section.implementation > h3:first-child {
    margin-top: 0px;
}

#layout-content .content-section.implementation .p-col-12 > h3 {
    font-weight: 400;
    margin-top: 30px;
    font-size: 18px;
}

#layout-content .content-section.implementation h3.first {
    margin-top: 0px;
}

#layout-content .content-section.implementation.implementation-charts {
    background-color: #FFFFFF;
}

#layout-content .content-section.implementation p {
    margin: 0;
    line-height: 1.5;
}

#layout-content .content-section.content-submenu {
    background-color: #20272a;
    padding: 15px 30px;
    border-bottom: 1px solid #1b81d7;
}

#layout-content .content-section.content-submenu:after {
    content: "";
    display: table;
    clear: both;
}

#layout-content .content-section.content-submenu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#layout-content .content-section.content-submenu ul li {
    list-style: none;
    width: 20%;
    display: inline-block;
    margin-top: 5px;
}

#layout-content .content-section.content-submenu ul li a {
    color: #cac6c6;
    display: block;
    width: 90%;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 3px;
    -moz-transition: border-color 0.1s;
    -o-transition: border-color 0.1s;
    -webkit-transition: border-color 0.1s;
    transition: border-color 0.1s;
}

#layout-content .content-section.content-submenu ul li a:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

#layout-content .content-section.content-submenu ul li a:focus {
    outline: 0 none;
    transition: box-shadow .3s;
    box-shadow: 0 0 0 0.2em #ffffff;
}

#layout-content .content-section.documentation {
    /* Demo Tabs Source */;
}

#layout-content .content-section.documentation h3 {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: normal;
}

#layout-content .content-section.documentation h4 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

#layout-content .content-section.documentation p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}

#layout-content .content-section.documentation .doc-tablewrapper {
    margin: 10px 0;
}

#layout-content .content-section.documentation a {
    color: #03c4e8;
}

#layout-content .content-section.documentation .btn-viewsource {
    background-color: #444;
    padding: .5em;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    margin: .5em 0;
    display: inline-block;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#layout-content .content-section.documentation .btn-viewsource:hover {
    background-color: #595959;
}

#layout-content .content-section.documentation .btn-viewsource i {
    margin-right: .25em;
    background-color: transparent;
    font-family: 'FontAwesome';
}

#layout-content .content-section.documentation i:not([class~="pi"]) {
    background-color: #fcf2a7;
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    padding: 2px;
}

#layout-content .content-section.documentation .p-tabview {
    background: none;
    border: 0 none;
}

#layout-content .content-section.documentation .p-tabview .p-tabview-nav {
    border-radius: 3px 3px 0 0;
    padding: 4px 4px 0px 4px;
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #20272a);
    background-image: -moz-linear-gradient(top, #000000, #20272a);
    background-image: -ms-linear-gradient(top, #000000, #20272a);
    background-image: -o-linear-gradient(top, #000000, #20272a);
    background-image: linear-gradient(to bottom, #000000, #20272a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', endColorStr='#20272a', gradientType=1);
}

#layout-content .content-section.documentation .p-tabview .p-tabview-nav li a {
    border: 0 none;
    margin-right: 4px;
    color: #ffffff;
    text-shadow: none;
    height: inherit;
    background-color: #000000;
    padding-top: 8px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#layout-content .content-section.documentation .p-tabview .p-tabview-nav li.tab-doc {
    margin-right: 0;
}

#layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight a {
    background: #000000;
    color: #ffffff;
}

#layout-content .content-section.documentation .p-tabview .p-tabview-nav li:not(.p-highlight) a:hover {
    background-color: #007294;
}

#layout-content .content-section.documentation .p-tabview .p-tabview-panels {
    background: transparent;
    border: 0 none;
}

#layout-content .content-section.support .support-image {
    background-color: #906C90;
    padding: 30px;
    color: #ffffff;
    text-align: left;
}

#layout-content .content-section.support .support-image .p-md-6:last-child {
    text-align: right;
}

#layout-content .content-section.support .support-image h3, #layout-content .content-section.support .support-image p {
    color: #ffffff;
}

#layout-content .content-section.support li {
    line-height: 1.5;
}

#layout-content .content-section .doc-table {
    border-collapse: collapse;
    width: 100%;
}

#layout-content .content-section .doc-table th {
    background-color: #cce8f1;
    padding: 8px 14px;
    text-align: left;
    border: solid 1px #b7d0d8;
}

#layout-content .content-section .doc-table tbody td {
    padding: 8px 14px;
    border: 1px solid #d4e1e3;
}

#layout-content .content-section .doc-table tbody tr:nth-child(even) {
    background-color: #f3fbfc;
}

#layout-content .content-section .doc-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.layout-footer {
    font-size: 14px;
    color: #84939f;
}

.layout-footer span a {
    margin-left: 0;
}

.layout-footer .footer-links {
    float: right;
    font-size: 24px;
}

.layout-footer a {
    margin-left: 16px;
}

.layout-footer .icon-github {
    width: 29.1px;
    height: 29.1px;
    color: #20272a;
}

.layout-footer .icon-twitter {
    width: 29.1px;
    height: 29.1px;
    color: #20272a;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.home-button {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #fe8702;
    padding: 10px 24px 9px 24px;
    border-radius: 3px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.home-button:hover {
    background-color: #C56A05;
    color: #ffffff;
}

.home-button2 {
    font-weight: bold;
    text-align: center;
    color: #8C6816 !important;
    background-color: #FFCB54;
    padding: 10px 24px 9px 24px;
    border-radius: 3px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    display: inline-block;
}

.home-button2:hover {
    background-color: #E5AF36;
    color: #8C6816 !important;
}

.homeBackground {
    background-color: #1976d2;
    background: url("../images/primereact-slider-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    height: 100%;
    /* You must set a specified height */
    color: #ffffff;
}

/* Home Component*/
.home {
    /* Introduction */
    /* Features */
    /* Who Uses */
    /* PRO */;
}

.home p {
    line-height: 22px;
}

.home .introduction {
    background-color: #1976d2;
    background: url("../images/primereact-slider-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    height: 100%;
    /* You must set a specified height */
    color: #ffffff;
    padding: 80px 30px 300px 50px;
}

.home .introduction h1 {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 24px;
}

.home .introduction h2 {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 24px;
}

.home .introduction > div {
    padding: 100px 100px 0 100px;
    height: 200px;
}

.home .features {
    background-color: #000000;
    text-align: center;
    padding: 30px;
}

.home .features h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 25px;
}

.home .features img {
    width: 57px;
}

.home .features .feature-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    color: #20272a;
}

.home .features .p-g p {
    color: #20272a;
    margin-bottom: 30px;
}

.home .features .p-g > div {
    padding: .5em 2em;
}

.home .features p {
    margin-bottom: 30px;
}

.home .features p.features-tagline {
    color: #ffffff;
    margin-bottom: 0;
    margin-top: -5px;
}

.home .features p.features-description {
    color: #ffffff;
    text-align: left;
}

.home .features p > a {
    font-weight: bold;
    color: #03c4e8;
}

.home .whouses {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.home .whouses h3 {
    margin-bottom: 10px;
}

.home .whouses img {
    height: 30px;
    width: 100%;
}

.home .whouses .p-g > div {
    padding: 1em .5em;
}

.home .whouses p {
    margin-bottom: 30px;
}

.home .whouses p > a {
    font-weight: bold;
    color: #03c4e8;
}

.home .templates {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #c4c5c6;
}

.home .templates h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 25px;
}

.home .templates h4 {
    font-size: 16px;
    font-weight: 700;
}

.home .templates img {
    width: 100%;
}

.home .prosupport {
    border-bottom: 1px solid #dcdedf;
    background-color: #000000;
    padding: 30px;
    color: #222222;
}

.home .prosupport p {
    line-height: 22px;
    margin-bottom: 1em;
}

.home .prosupport h3 {
    font-size: 24px;
}

.home .prosupport img {
    margin-top: 10px;
}

.home .prosupport .p-md-6:last-child {
    text-align: center;
}

.templates-grid {
    text-align: center;
}

.templates-grid a img {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.templates-grid a:hover img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.templates-grid h4 {
    margin: 16px 0;
    font-weight: normal;
}

.icons-page .icons-list {
    text-align: center;
}

.icons-page .icons-list i {
    font-size: 2em;
}

.icons-page .icons-list .p-md-2 {
    padding-bottom: 2em;
}

@media screen and (max-width: 64em) {
    .layout-topbar {
        text-align: center;
    }

    .layout-topbar .menu-button {
        display: inline-block;
    }

    .layout-topbar .logo {
        margin: 8px 0;
    }

    .layout-topbar .logo img {
        width: 180px;
    }

    .layout-topbar .topbar-menu {
        background-color: #20272a;
        float: none;
        width: 100%;
        height: 40px;
        margin: 0;
        text-align: center;
    }

    .layout-topbar .topbar-menu > li > a, .layout-topbar .topbar-menu > li > span {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
    }

    .layout-topbar .topbar-menu > li > a:hover, .layout-topbar .topbar-menu > li > span:hover {
        background-color: #285a6c;
    }

    .layout-topbar .topbar-menu > li.topbar-menu-themes > i {
        top: 6px;
        right: 10px;
    }

    .layout-topbar .topbar-menu > li.topbar-menu-themes > ul {
        top: 40px;
        text-align: left;
    }

    #layout-sidebar {
        top: 98px;
        left: -300px;
        -moz-transition: left 0.2s;
        -o-transition: left 0.2s;
        -webkit-transition: left 0.2s;
        transition: left 0.2s;
        z-index: 999;
    }

    #layout-sidebar.active {
        left: 0;
    }

    #layout-content {
        margin-left: 0;
        padding-top: 96px;
    }

    #layout-content .content-section.submenu ul li {
        width: 50%;
    }

    #layout-content .content-section .doc-table tbody td {
        word-break: break-word;
    }

    .layout-mask {
        z-index: 998;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 98px;
        left: 0;
        opacity: .7;
        background-color: #ffffff;
        -webkit-animation: layoutMaskFade .3s;
        animation: layoutMaskFade .3s;
    }

    .home .introduction > div {
        width: 100%;
    }

    .home .features > div {
        width: 100%;
    }

    .home .whouses > div {
        width: 100%;
    }

    .home .prosupport > div {
        width: 100%;
    }

    #layout-content .content-section.content-submenu ul li {
        width: 50%;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #4eafe6;
}

/* Animation */
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes layoutMaskFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes layoutMaskFade {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: .7;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

pre[class*="language-"] {
    border-left: 10px solid #b2e0e8 !important;
    box-shadow: -1px 0px 0px 0px #b2e0e8, 0px 0px 0px 1px #dfdfdf !important;
    webkit-box-shadow: -1px 0px 0px 0px #b2e0e8, 0px 0px 0px 1px #dfdfdf !important;
    background: #ffffff !important;
}

pre[class*="language-"] code {
    font-size: 14px;
}

pre[class*="language-"] code .token.tag {
    color: #d57935;
}

pre[class*="language-"] code .token.attr-value {
    color: #308eea;
}

pre[class*="language-"] code .token.language-javascript {
    color: #1990b8;
}

pre[class*="language-"] code .token.operator {
    background: transparent;
}

/* Demos */
.dataview-demo .ui-button {
    margin-top: 3em;
}

.dataview-demo .filter-container {
    text-align: center;
}

.dataview-demo .car-data > div {
    padding: .429em;
}

.loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .dataview-demo .car-details, .dataview-demo .search-icon {
        text-align: center;
        margin-top: 0;
    }

    .dataview-demo .filter-container {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .dialog-demo .p-dialog {
        width: 75vw !important;
    }
}

.lightbox-demo .p-lightbox-image-target {
    margin-right: .5em;
}

.inputgrid-demo {
    padding-top: 0 !important;
}

.treetableedit-demo .p-treetable tr {
    outline: 0 none;
}

/* FlexGrid Demos */
.flexgrid-demo .box,
.flexgrid-demo .sample-layout > div {
    background-color: #cce4f7;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.flexgrid-demo .box-stretched {
    height: 100%;
}

.flexgrid-demo .sample-layout {
    margin: 0;
}

.flexgrid-demo .sample-layout > div {
    border: 1px solid #ffffff;
}

.flexgrid-demo .vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.flexgrid-demo .nested-grid .p-col-4 {
    padding-bottom: 1em;
}

/* DataScroller */
.datascroll-demo .car-item {
    border-bottom: 1px solid #D5D5D5;
    margin: 0;
    padding: 1em;
}

.datascroll-demo .car-item .p-md-3 {
    text-align: center;
}

.datascroll-demo .car-item .p-col-10 {
    font-weight: bold;
}

@media (max-width: 767px) {
    .datascroll-demo .car-item {
        text-align: center;
    }
}

.scrollpanel-demo .custombar1 .p-scrollpanel-wrapper {
    border-right: 9px solid #ff0000;
}

.scrollpanel-demo .custombar1 .p-scrollpanel-bar {
    background-color: #007ad9;
    opacity: 1;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.scrollpanel-demo .custombar1 .p-scrollpanel-bar:hover {
    background-color: #007ad9;
}

.scrollpanel-demo .custombar2 .p-scrollpanel-wrapper {
    border-right: 9px solid #ff0000;
    border-bottom: 9px solid #ff0000;
}

.scrollpanel-demo .custombar2 .p-scrollpanel-bar {
    background-color: #cce4f7;
    border-radius: 0;
    opacity: 1;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.scrollpanel-demo .custombar2:hover .p-scrollpanel-bar {
    background-color: #99c9ef;
}

.p-growl {
    top: 100px !important;
}

.button-demo button {
    margin-right: .5em;
}

.splitbutton-demo .p-splitbutton {
    margin-right: .5em;
}

.organizationchart-demo .company.p-organizationchart .p-organizationchart-node-content.p-person {
    padding: 0;
    border: 0 none;
}

.organizationchart-demo .node-header, .organizationchart-demo .node-content {
    padding: .5em .7em;
}

.organizationchart-demo .node-header {
    background-color: #495ebb;
    color: #ffffff;
}

.organizationchart-demo .node-content {
    text-align: center;
    border: 1px solid #495ebb;
}

.organizationchart-demo .node-content img {
    border-radius: 50%;
}

.organizationchart-demo .department-cfo {
    background-color: #7247bc;
    color: #ffffff;
}

.organizationchart-demo .department-coo {
    background-color: #a534b6;
    color: #ffffff;
}

.organizationchart-demo .department-cto {
    background-color: #e9286f;
    color: #ffffff;
}

.organizationchart-demo .p-organizationchart .p-highlight {
    background-color: orange;
}

.organizationchart-demo .p-person .p-node-toggler {
    color: #495ebb !important;
}

.organizationchart-demo .department-cto .p-node-toggler {
    color: #8a0a39 !important;
}

/*MultiSelect */
.multiselect-demo .my-multiselected-item-token, .multiselect-demo .my-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 1.857em;
    border-radius: 3px;
}

.multiselect-demo .my-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

.multiselect-demo .my-multiselected-empty-token {
    background: #1dcbb3;
    color: #ffffff;
    width: 100%;
}

/* Responsive Tables */
.p-col-d {
    display: table-cell;
}

.p-col-m {
    display: none;
}

@media screen and (max-width: 64em) {
    .p-col-d {
        display: none;
    }

    .p-col-m {
        display: inline-block;
    }
}